$theme: #enjoy-mondays;
$LIGHT_WHITE: #F8F8F4;

$background_1 : $LIGHT_WHITE;


body#{$theme} {

  background-color: $background_1;
}
  
#{$theme} {
	.content-root,
	.menubar,
	.content,
	#main-header,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ul,
	ol {
    background-color: $background_1;
  }
}

