$theme: #enjoy-mondays;
$LIGHT_WHITE: #F8F8F4;

$background_1 : $LIGHT_WHITE;


body#{$theme} { 
  background-color: $background_1; 
}

#{$theme} .content-root,
#{$theme} .menubar,
#{$theme} .content {
  background-color: $background_1;
}

#{$theme} .header {
	background-color: $background_1;
}

@media (min-width: 1180px) {
  #{$theme} .content h2,
  #{$theme} .content h3,
  #{$theme} .content h4,
  #{$theme} .content h5,
  #{$theme} .content h6,
  #{$theme} .content p,
  #{$theme} .content ul,
  #{$theme} .content ol {
    background-color: $background_1;
 }
}