// define any new color variables here 

$GRAY: #4a4a4a;
$LIGHT_GRAY: #E9E8E3;
$DARK_GRAY:	#3A3A3A;
$DARK_BLUE:	#363B48;	
$FUXSIA: #DF3F54;
$LIGHT_FUXSIA: #F17C71;
$ZENBURN_BG: #3F3F3F; 
$LIGHTER_WHITE: #F8F8F4;
$LIGHT_WHITE: #F3F6FB;
$BLACK: #000;
$WHITE: #FFF;



// add combinations of colors here 
// general_bg -*- right_code_bg -*- general_text -*- links_text -*- details (as hover) -*- left_code_bg 


$combo1: $LIGHT_GRAY, $ZENBURN_BG, $GRAY, $DARK_GRAY, $FUXSIA, $LIGHT_WHITE;

$combo2: $DARK_GRAY, $BLACK, $LIGHT_GRAY, $LIGHT_WHITE, $LIGHT_FUXSIA, $BLACK;

$combo3: $DARK_BLUE, $BLACK, $LIGHT_GRAY, $LIGHT_WHITE, $LIGHT_FUXSIA;

$combo4: $FUXSIA, $ZENBURN_BG, $LIGHT_GRAY, $LIGHT_WHITE, $LIGHT_FUXSIA, $ZENBURN_BG;

$combo5: $LIGHTER_WHITE, $ZENBURN_BG, $GRAY, $DARK_GRAY, $FUXSIA, $WHITE;



// USE AS:

  // GENERAL CONTENT BACKGROUND: 
  $background_1 : nth($combo, 1);

  // CODE IN BOX BACKGROUND: 
  $background_2 : nth($combo, 2);

  // CODE IN TEXT BACKGROUND
  $background_3 : nth($combo, 6);

// TEXT */
  
  // GENERAL TEXT 
  $color_1 : nth($combo, 3);

  // LINKS 
  $color_2 : nth($combo, 4);

  // DETAILS (hovers, visited links)
  $color_3 : nth($combo, 5);