
// $c would be base color *required*
// $c2 if passed in, second color for details/accents
// $c3 if passed in, third color for extended diversification ?
// level makes automatic calculation from complement/inverse colors even if no second and third colors are passed in

@function doColors($c, $c2:0, $c3:0, $level:0) {

  // minimum return-object
  $map: (
    b_25: lighten($c, 50%), 
    b_50: lighten($c, 39%), 
    b_100: lighten($c, 31.6%), 
    b_500: $c, 
    b_500_transparent: rgba($c, .2), 
    b_900: darken($c, 22%), 
  );

  @if ($level > 1) {
    // if no color passed in, calculate complement
    @if ($c2 == 0) {
      $c2: complement($c);
    }

    $c2: adjust-hue($c2, -50deg);

    $map2: (
      c_500: $c2, 
      c_900: darken($c2, 20%),
    );

    $map: map-merge($map, $map2);
  }

  @if ($level == 3) {
    // if no color passed in, calculate inverse
    @if ($c3 == 0) {
      $c3: invert($c); 
    }

    $c3: darken(adjust-hue($c3, 150deg), 15%);

    $map3: (
      d_500: $c3,
      d_900: darken($c3, 15%),
      d_A400: adjust-hue(lighten($c3, 40%), -15deg)
    );

    $map: map-merge($map, $map3);
  }
  
  @return $map;
}



//$color_map: doColors($base_color);

$color_map: doColors($base_color, 0, 0, 3);

//$color_map: doColors($base_color, #E91E63, 0, 3);



@mixin colors {

//  $color_map: doColors($base_color, 0, 0, 3);


  // -------------------------  COLOR FONTS 

  $font_color_light: map-get($color_map, b_25);

  $font_color_dark: map-get($color_map, b_900);


  // -----------------------  COLOR CLASSES 

  @each $class-name, $color in $color_map {
    .#{$class-name} {
      background-color: $color;

      // font colors depend of background color

      @if (lightness($color) < 55) {
        color: $font_color_light;
        color: white;
      } @else {
        color: $font_color_dark;
        color: black;
      }
    }
  } 
 

  // ------------------- COLOR ASSIGNATIONS 

  // -------------------------- general  
  body {
    @extend .b_25;
  }

  // ---------------------------- links 
  a {
    color: map-get($color_map, b_500);

    &:hover {
      @extend .b_100;
    }
  }

  // ------------------------------- hr 
  hr {
    @extend hr;
    @extend .b_50;
  }

  // ----------------------------- code 
  code {
    @extend .b_900;
  }

  // ------------------------------ pre 
  pre {
    @extend .b_900;
  }




  // -------------------- %border-color 
  %border-color {
    border-color: map-get($color_map, b_500);
  }

  // -------------------------- .stripe 
  .stripe {
    @extend .b_500_transparent;
    @extend %border-color; 

    @media screen and (max-width: 500px) {
      background-color: map-get($color_map, b_500);
      color: $font_color_light;
    }
  }

  // --------------------------- .boxed 
  .boxed {
    @extend .b_500;
  }

  // ----------------------- .highlight 
  .highlight {
    @extend .b_500;
  }

  // ------------------------- .sidebar 
  .sidebar {
    @extend .b_25;
    @extend %border-color;
  }

}







