/*=FLATDOC THEME values------------------------------------------------*/ 

$flatdoc_header_height: 20px;

$flatdoc_header_padding_top: 15px; 
$flatdoc_header_padding_bottom: 15px;
$flatdoc_header_margin_top: 0;
$flatdoc_header_margin_bottom: 0;
$flatdoc_header_border_top: 0;
$flatdoc_header_border_bottom: 1px;


$flatdoc_body_font_size: 13px;