// define any new fonts here  

// SANS-SERIF

$LATO: 'Lato', sans-serif;
$DOSIS: 'Dosis', sans-serif;
$ARIAL: Arial, Helvetica, sans-serif;
$VERDANA: Verdana, Geneva, sans-serif;
$TAHOMA: Tahoma, Geneva, sans-serif;
$CENTURY_GOTIC: Century Gothic, sans-serif;
$LUCIDA_SANS: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
$HELVETICA: 'Helvetica Neue', Helvetica, Arial, sans-serif;


// SERIF

$TIMES: "Times New Roman", Times, serif;
$GEORGIA: Georgia, serif;
$PALATINO: Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;


// MONOSPACE

$LUCIDA_CONSOLE: ‘Lucida Console’, Monaco, monospace;
$COURIER: ‘Courier New’, Courier, monospace;
$CONSOLAS: Consolas, monaco, monospace;



// fontweights, add/redefine here 

$BOLDER: 900;
$REGULAR: 400;
$LIGHT: 100;
$BOLD: 600;