
$font_1: $LATO !default;
$font_2: $DOSIS !default;
$font_size_1: 1.25em !default; 
$font_size_2: 1.15em !default;
$font_size_3: 1em !default;
$font_size_4: 2.5em !default; 
$font_weight_1: $LIGHT !default;
$font_weight_2: $BOLD !default;
$font_weight_3: $BOLDER !default;