@import "partials/_fonts";


// ------------------------------------------- THEME
// has to be updated in index.html

$theme: #enjoy-mondays;


// ------------------------------------------ COLORS

// set base color 
$base_color: LIGHT_GRAY !default;

// lightBackground: true -> lighter version of base_color as main background color
// else, base_color as main background color

$lightBackground: true !default;


// ------------------------------------------- FONTS

  // ----------------- change font assignations here

  // ------------------ LINKS AND TEXT
  $font_1: $LATO;
  
  // ------------------------- HEADERS
  $font_2: $DOSIS;


  // ------------------------ change font sizes here

  // ------------------------- TEXT, P
  $font_size_1: 1.25em; 
  
  // ----------------------- TEXT, PRE
  $font_size_2: 1.15em;
  
  // ----------------- SIDE MENU LINKS
  $font_size_3: 1em;
  
  // ------------------------------ H1 
  $font_size_4: 2.5em; 


  // ---------------------- change font weights here
  
  // ------------------------- TEXT, P
  $font_weight_1: $LIGHT;

  
  $font_weight_2: $BOLD;

  // --------------------------- LINKS
  $font_weight_3: $BOLDER;



// ---------------------------------------- MEASURES

$header_height: 20px; 
// (flatdoc theme includes 15px padding top and bottom, +1px border-bottom)

// under 350px:
$header_height_2: 50px;

$logo_footer_width: 28px;


// USED in placeholder height
$h: $header_height + 31;
$h_2: $header_height_2 + 31;





