@import "_settings";


@import "partials/_flatdoc";
@import "partials/_classes";

@import "partials/_colors2";

@if ($use_combo) {
   $color1: nth($combo, 1);
   $color2: nth($combo, 6);
   $color3: nth($combo, 2);
   $color4: nth($combo, 2);
   $color5: nth($combo, 4);
   $color6: nth($combo, 4);
} @else {
  $color1: map-get($color_map, b_100);
  $color2: map-get($color_map, b_500);
  $color3: map-get($color_map, b_900);
  $color4: map-get($color_map, b_25);
  $color5: map-get($color_map, c_900);
  $color6: map-get($color_map, d_500);
}

   $color1: nth($combo, 1);
   $color2: nth($combo, 6);
   $color3: nth($combo, 2);
   $color4: nth($combo, 2);
   $color5: nth($combo, 4);
   $color6: nth($combo, 4);


// ------------------------------------------- BACKGROUNDS 

#{$theme} { 

//  background-color: $background_1; 
  background-color: $color1;

  #main-header, 
  // left menu and central content background need re-stating
  .content-root,
  .menubar,
  .content,
  h1, h2, h3, h4, h5, h6 {
//    background-color: $background_1;
    background-color: $color1;
  }

  // --------------------- 3 COLUMN BACKGROUND for big layout
  @media (min-width: 1180px) {
    .content,
    .content-root {
//      background-color: $background_2;
      background-color: $color3;
    }
  }

  .content {
    p, ul, ol {
//      background-color: $background_1;
      background-color: $color1;
    }

    code {
//      background-color: $background_3;
      background-color: $color2;
    } 

    // ------- HIGHLIGHT JS OVERRIDE
    .hljs, pre > code {
//      background-color: $background_2;
      background-color: $color3;
    }
  }
}

// ----------------------------------------------- BORDERS 
#{$theme} {

  #main-header {  

//    text-shadow: 0 1px 0 $background_2;
    text-shadow: 0 1px 0 $color4;
   
    border-bottom: solid 1px $color4;

    li {
//      border-left: 1px solid $color2;
      border-right: 1px solid $color3;
    }

    h1 + ul {
      border-left: 1px solid $color2;
    }
  }

  .menubar {
    border-right: solid 1px $color4;
  }

  h4 {
    border-bottom: solid 1px $color4;
  }
}


// ------------------------------------------------- FONTS 
#{$theme} { 

  // ---------------------- GENERAL
  font-family: $font_1;
  font-weight: $font_weight_1;
//  color: $color_1;
  color: $color3;  

  // ------------------------ LINKS 
  a {
    font-size: $font_size_3;
    font-weight: $font_weight_3;
//    color: $color_2;
    color: $color5;
  }

  // --------------------------- Hi 

  h1, h2, h3, h4, h5, h6 {
    font-family: $font_2 !important;
    font-weight: $font_weight_2 !important; 
//      color: $color_3;
    color: $color5;
  }

  // --------------------------- H1 
  h1 {
    font-size: $font_size_4;  
    text-transform: uppercase;
  }

  // ---------------------- CONTENT 

  .content {
    p {
      font-size: $font_size_1;
    }

    pre {
      font-size: $font_size_2;
    }

    p, li {
      > code {
        color: $color1;
      }
    }

    em {
      color: $color2;
    }
  }
}


// ------------------------------------------------- LINKS 

// --------------------- MIXINS

// USED IN hover effects

@mixin underline_link { 
  border-bottom: 3px solid $color6; 
}

@mixin colored_link {
  border-bottom: none;
  color: $color6 !important;
}

@mixin left_border_link {
  border-left: 3px solid $color6;
}


#{$theme} {
  
  // ----------------- ALL links
  a {
    text-decoration: none;

    &:hover,
    &.active {
      @include underline_link;

      &::after {
        // remove dash from links
        background: none;
      }
    }
  }

  // ----------- SIDE MENU links
  .menu {
    a {
      &:visited, 
      &:hover,
      &.active {
        margin-left: -3px;
        @include left_border_link;
        @include colored_link;
      }
    }

    // make room for border-left as some flatdoc level-x links don't have
    .level-2 > a {
      padding-left: 3px;
    }
  }
}


// ------------------------------------------- MAIN HEADER 
#{$theme} #main-header {  

  // -------------------------- TITLE AND MENU
  .left-content {

    position: relative;
    left: 220px;

    // - (when side menu drops out)
    @media (max-width: 767px) {

      // ------------ move to left
      left: 0;
    }
  }

  li {
    @media (max-width: 480px) {
      margin-left: 20px;
    }
  }

  // -------------------------- GITHUB BUTTONS
  .right-content {

    float: right;
    height: $header_height;

    @media (max-width: 900px) {

      // ------- => stack in 2 rows
      width: 168px;
      height: $header_height_2;
      top: 3px;
    }

    @media (max-width: 650px) {

      // ------------------ => hide
      display: none;
    }
  }

  // ---------------------------------------------- UNDER 650px
  @media (max-width: 650px) {

  // -------------------------- TITLE AND MENU 
  // ---------------------------- => fullwidth

    padding-left: 0;
    padding-right: 0;

    .left-content {
      float: none;

      h1 {
        margin-left: 30px;
        float: left;
      }

      ul {
        float: right;
        margin-right: 30px;

        li {
          float: left;

          &:last-child a {
            padding-right: 0;
          }
        }
      }      
    }
  }
  // ---------------------------------------------- UNDER 350px
  @media (max-width: 350px) {

  // -------------------------- TITLE AND MENU 
  // ---------------------- => stack in 2 rows
  
    margin: 0;
    padding: 0;
    text-align: center;
  // ----------------------- new header height
    height: $header_height_2;

    .left-content {
      h1 {
        float: none;
        margin: 10px auto 12px auto;
      }

      ul {
        float: none;
        display: inline-block;
      }
    }
  }
}

// -------------------------------- FIX HEADER PLACEHOLDER 

#{$theme} #fix-placeholder {
  
  height: $h;

  @media (max-width: 350px) {
    height: $h_2;
  }
}


// ----------------------------------------------- CONTENT 
#{$theme} .content {

  // -------------- (when side menu drops out)
  @media (max-width: 767px) {

    // ---------------------------- => center
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  hr {
    border: 0;
    height: 3px;
    width: 18%;
    margin: 0 auto 3%;
    clear: both;
  }
}


// -------------------------------------------------- LOGO 
#{$theme} {

  #logo {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: $logo_footer_width;
    height: auto; 

    img {
      width: 100%;
    } 
  } 
}


// --------------------------------- 3 COLUMN BACKGROUND for big layout

@media (min-width: 1180px) {

  #{$theme} .content {
    
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;

    h1, h2, h3, h4, h5, h6 {
      width: 550px;
      margin: 0;
      padding-left: 40px;
      position: relative;
      z-index: 2;
    }

    h1:first-child {
      padding-top: 30px;
    }

    ul, ol {
      margin-left: 0;
      padding-left: 60px !important;
      position: relative;
      z-index: 2;
    }

    p {
      position: relative;
      z-index: 2;
    }

    pre {
      width: calc(100% - 550px);
    }

    & > *:last-child {
      padding-bottom: 40px;
    }
  }
}


// ------------------------------- COLOR SWAPPER TEST (only over 767px)

#color-swapper {
  display: none;
}

@media (min-width: 767px) {

  #color-swapper {
    display: initial;
    left: 0;
    padding: 5px;

    tr {
      height: 15px;
      overflow: hidden;

      &:hover {
        height: 12px;
        cursor: pointer;
      }
    }

    td {
      font-size: 0;
      line-height: 0;
      width: 27px;
      border-right: 1px solid white;

      a {
        width: 27px;
        height: 12px;
        display: block;
      }
    }
  }

  // --------------------------------------- COLOR OPTIONS
  // ---------- is study

  #color-swapper td {

    &.GRAY {
      background-color: $GRAY;
    }

    &.LIGHT_GRAY {
      background-color: $LIGHT_GRAY;
    }

    &.DARK_GRAY {
      background-color: $DARK_GRAY;
    }

    &.DARK_BLUE {
      background-color: $DARK_BLUE;
    }

    &.FUXSIA {
      background-color: $FUXSIA;
    }

    &.LIGHT_FUXSIA {
      background-color: $LIGHT_FUXSIA;
    }

    &.ZENBURN_BG {
      background-color: $ZENBURN_BG;
    }

    &.LIGHT_WHITE {
      background-color: $LIGHT_WHITE;
    }

    &.LIGHTER_WHITE {
      background-color: $LIGHTER_WHITE;
    }
  }
}

// ----------------------------------------------------- HIDE SCROLLBAR
// testing if needed, check motzilla affects height of pre elements

// @media (max-width: 1180px) {
//  #{$theme} .content pre > code::-webkit-scrollbar {
//    width: 0;
//    height: 0;
//  }
//  }



